# Ignore virtual environment
.venv/

# Ignore Python cache
__pycache__/
*.py[cod]
*.sqlite3

# Ignore Django migrations
*/migrations/
!*/migrations/__init__.py

# Ignore VSCode settings
.vscode/

# Ignore OS junk files
.DS_Store
Thumbs.db

# Ignore env files
.env
