{% extends "layout.html" %}

 {% block title %}
   about
 {% endblock %}  

 {% block content%}
 <h1>ABOUT</h1>
 <p>Check out my <a href="/">home</a> page.</p>
<br>
<br>
<br>
<p><span class="w3-tag w3-blue">Follow Me</span></p>
<footer>
  <div class="footer-content">
      <div class="social-icons">
          <a href="https://github.com/amisha3k" target="_blank">🐱 GitHub</a>
          <a href="https://linkedin.com/in/amisha-khichariya-123amisha09" target="_blank">🔗 LinkedIn</a>
          <a href="khichariyaamisha@email.com">📧 Email</a>
      </div>
  </div>
</footer>

{% endblock %}